*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(214, 200, 200);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    
}

span {
    background-color: blueviolet;
}

.sessao-hero {
    height: 300px;
    max-width: 100%;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    display: flex;
    background-image: url("/assets/tft-01.png");
}

.texto-hero{
    color: white;
    margin-top: 50px;
}